interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://geodesy.unr.edu/NGLStationPages/stations/P123.sta
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<html lang=\"en\">\n\n<head>\n  <link
        rel=\"stylesheet\" href=\"../../styles.css\" type=\"text/css\" />\n  <link
        rel=\"stylesheet\" href=\"../tab-panel.css\" type=\"text/css\" />\n  <script
        language=\"JavaScript\" type=\"text/javascript\" src=\"../tab-panel6.js\">\n
        \ </script>\n</head>\n\n<meta name=\"description\" content=\"Nevada Geodetic
        Lab\">\n<title>Nevada Geodetic Laboratory - Station Page for P123</title>\n\n<style>\n
        \  p {text-indent:10px;}\n</style>\n\n<div id=\"masthead\">\n<img src=\"/images/magnet-station-header.gif\"
        alt=\"MAGNET GPS Station - Photo by Geoff Blewitt\" />\n</div>\n<div id=\"globalNav\">\n
        \  <a href=\"/index.php\">| Home </a> <a href=\"/NGLStationPages/GlobalStationList\">|
        Browse Global Station List</a> <a href=\"/NGLStationPages/RapidStationList\">|
        Browse Rapid Station List</a> <a href=\"/NGLStationPages/UltraStationList\">|
        Browse Ultra Rapid Station List</a> <a href=\"/NGLStationPages/gpsnetmap/GPSNetMap.html\">|
        Map Browse</a> <a href=\"/Acknowledgements.php\">| Acknowledgements |</a>\n</div>\n\n\n<div
        id=\"content2\">\n\n<table>\n<tr>\n<td colspan=\"2\" align=\"left\">\n\n\n\n<table
        cellpadding=\"5\">\n<tr>\n<td valign=\"top\">\n<p>\n<h1>Station ID : P123</h1>\n</p>\n</td>\n</tr>\n<tr>\n<td>\n<h2>Data
        attribution information: <a href=\"/NGLStationPages/attributions/P123.atr2\"><u>DOI
        Database</u></a></h2>\n   <h2>DOI link for this station: <a href=\"https://doi.org/10.7283/T5M32SRK\"
        target=\"_blank\"><u>https://doi.org/10.7283/T5M32SRK</u></a></h2>\n</td>\n</tr>\n\n<tr>\n<td
        valign=\"top\">\n   <h2>Station operator information from: <a href=\"/NGLStationPages/attributions/P123.atr\"><u>RINEX
        headers</u></a> </h2>\n</td>\n</tr>\n\n\n<tr>\n<td>\nWhen using products from
        this system please cite \n<a href=\"https://eos.org/project-updates/harnessing-the-gps-data-explosion-for-interdisciplinary-science?utm_source=rss&utm_medium=rss&utm_content=harnessing-the-gps-data-explosion-for-interdisciplinary-science\">Blewitt
        et al., (2018)</a> for the processing plus also the citation for the original
        data.\n</td>\n</tr>\n\n<tr>\n<td valign=\"top\">\n   <h3><u>Coordinates</u>:
        </h3>\n   <h4>Latitude:  36.635 degrees</h4>\n   <h4>Longitude: -105.911 degrees</h4>\n
        \  <h4>Height:    2411.197 meters</h4>\n   <br>\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n\n\n<tr>\n<td
        align=\"left\">\n\n<table border=\"1\" cellpadding=\"6\">\n\n<tr>\n<td colspan=\"4\"
        align=\"center\"> \n   <h3>Time Series Data</h3> \n   <h5><i>(ascii text)</i></h5>
        \n</td>\n</tr>\n\n<tr>\n<td colspan=\"4\" align=\"center\">\n   <h5><i>24
        Hour Final Solutions</i></h5> \n</td>\n</tr>\n\n<tr>\n<td colspan=\"2\" align=\"left\">\n
        \  <h3> IGS14 </h3>\n</td>\n<td align=\"center\">\n   <h4> <a href=\"/gps_timeseries/tenv3/IGS14/P123.tenv3\">tenv3</a>
        or <a href=\"/gps_timeseries/tenv/IGS14/P123.tenv\">tenv</a> </h4> \n</td>\n<td
        align=\"center\">\n   <h4> <a href=\"/gps_timeseries/txyz/IGS14/P123.tx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://geodesy.unr.edu/gps_timeseries/tenv3/IGS14/P123.tenv3
  response:
    body:
      string: 'site YYMMMDD yyyy.yyyy __MJD week d reflon _e0(m) __east(m) ____n0(m)
        _north(m) u0(m) ____up(m) _ant(m) sig_e(m) sig_n(m) sig_u(m) __corr_en __corr_eu
        __corr_nu _latitude(deg) _longitude(deg) __height(m)

        P123 06MAR01 2006.1629 53795 1364 3 -105.9   -970 -0.071690   4056024  0.432139  2411  0.195336  0.0083
    [...]
